<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <description></description>
    <display-name>GetKartAdult</display-name>
    <servlet-name>GetKartAdult</servlet-name>
    <servlet-class>servlets.GetKartAdult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetKartAdult</servlet-name>
    <url-pattern>/GetKartAdult</url-pattern>
  </servlet-mapping>
  <display-name>Práctica3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PostAsociarKartPista</servlet-name>
    <servlet-class>servlets.PostAsociarKartPista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetKartChild</servlet-name>
    <servlet-class>servlets.GetKartChild</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTracksAdults</servlet-name>
    <servlet-class>servlets.GetTracksAdults</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTracksChild</servlet-name>
    <servlet-class>servlets.GetTracksChild</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAsociarKartPista</servlet-name>
    <url-pattern>/PostAsociarKartPista</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetKartChild</servlet-name>
    <url-pattern>/GetKartChild</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTracksAdults</servlet-name>
    <url-pattern>/GetTracksAdults</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTracksChild</servlet-name>
    <url-pattern>/GetTracksChild</url-pattern>
  </servlet-mapping>
</web-app>